@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.icon_btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: rem(6);
  border-radius: rem(6);
  
  &:hover {
    background-color: $color-bg-hover;
  }
}