.page-body {
    color: $color-text;
    font-family: $font-family-base;
    font-size: rem(16);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.heading-default {
    color: $color-text;
    font-weight: 900;
    line-height: 1;
}

.text-default {
    color: $color-text-secondary;
}
